# Variables privadas
.env
.env.local

# Ejecutables compilados
app
app.exe
heno-motita-api.exe

# Archivos de Visual Studio Code
.vscode/

# Archivos temporales
tmp/
*.log

# Sistema operativo
.DS_Store
Thumbs.db